

	/*here , in navigation bar, all the elements are in 'a' attribute. no individual div is used here. all the properties are for a attribute. */
	.navigation_bar a{
		
		text-decoration:none;
		color:black;
		float:left;
		font-size:24;
		font-family:comic sans ms;
		display:block;
		height:40px; 
		width: 16.66%;
		background-color:#737373;
		text-align:center;
		padding-top:4px;
		padding-bottom:4px;
		
	}
	body{
		background-color:#191d1b;
		color:white;
	}
	
	
	.navigation_bar a.active{
		background-color:#191d1b;
		color:white;
	}
	
	.navigation_bar a:hover{
		background-color:#525252;
		color:white;
	}
	.main_div{
		height:100%;
		width:100%;
	}
	
	.banner{
		
		background-image:url(bg_white.jpg);
		height:25%;
		width:100%;	
	}
	
	.banner_text{ 
		font-size:64 ; 
		font-family:comic sans ms; 
		color:#1f2723;
		text-align:center;
		
	}
	
	
	/*for achievement portion */
	.achievement_1{
		font-size:24; 
		font-family:comic sans ms;
		background-color:#a9f7af;
		color:black;
		
	}
	.achievement_2{
		background-color:#74d17b;
		font-size:24; 
		font-family:comic sans ms;
		color:black;
			
	}
	
	.basic_font{
		font-size:24; 
		font-family:comic sans ms;
	}
	
	/*for skill portion */
	.skill_div{
	height:auto; 
	width:80%; 
	font-size:24 ; 
	font-family:comic sans ms;
	}
	
	.skill_div1{
		width:20%;
		float:left;
		margin-top:20px;
		background-color:#4d4d4d;
	}
	
	.skill_div2{
		border: 4px double gray;
		width:70%; 
		float:left;
		margin-top:20px;
	}
	
	hr{
		background-color:black;
		height:3px;
		width:80%;
		border:none;
	}
	
	 footer{		
			height:10%;
			text-align:center;
			font-family:comic sans ms;
			font-size:20;
	}
	
	.contact{
		font-size:24;
		height:auto;
		width:60%;
		font-family:comic sans ms;
		border:4px gray double; 
		border-radius:20px;
	}